.job-section {
  position: relative;
  padding: 100px 0;
}

.job-section.alternate {
  padding: 20px 0 70px;
}

.job-section .tab-buttons {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
}

.job-section .default-tabs .tabs-content {
  padding: 0;
}

.job-block {
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
}

.job-block .inner-box {
  position: relative;
  padding: 32px 20px 22px 30px;
  background: $torre-minus-darkness;
  border: 1px solid $torre-more-darkness;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.job-block .inner-box:hover {
  -webkit-box-shadow: 0px 7px 18px rgba(64, 79, 104, 0.05);
  box-shadow: 0px 7px 18px rgba(64, 79, 104, 0.05);
}

.job-block .content {
  position: relative;
  padding-left: 68px;
  min-height: 51px;
}

.job-block .company-logo {
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.job-block h4 {
  font-size: 18px;
  color: #202124;
  font-weight: 500;
  line-height: 26px;
  top: -3px;
  margin-bottom: 3px;
}

.job-block h4 a {
  color: $torre-clear;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.job-block h4 a:hover {
  color: $torre-orange;
}

.job-block .job-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.job-block .job-info li {
  position: relative;
  font-size: 14px;
  line-height: 22px;
  color: #fff;
  font-weight: 400;
  padding-left: 25px;
  margin-bottom: 5px;
  margin-right: 20px;
}

.job-block .job-info li .icon {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
}

.job-block .job-info li a {
  color: #696969;
}

.job-block .bookmark-btn {
  position: absolute;
  right: 0;
  top: -15px;
  height: 30px;
  width: 30px;
  line-height: 35px;
  text-align: center;
  font-size: 14px;
  border-radius: 50%;
  cursor: pointer;
  background: #ffffff;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

.job-block .bookmark-btn:hover {
  background: #ecedf2;
}

.job-block .job-other-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.job-other-info li {
  position: relative;
  font-size: 13px;
  line-height: 15px;
  margin-right: 15px;
  padding: 5px 20px;
  border-radius: 50px;
  margin-bottom: 10px;
}

.job-other-info li.time {
  background: rgba(25, 103, 210, 0.15);
  color: #1967d2;
}

.job-other-info li.green,
.job-other-info li.privacy {
  background: rgba(52, 168, 83, 0.15);
  color: #34a853;
}

.job-other-info li.required {
  background: rgba(249, 171, 0, 0.1);
  color: $yellow;
}

.job-section .btn-box {
  position: relative;
  text-align: center;
  margin-top: 15px;
}

/*=== Style Two ===*/

.job-section.style-two {
  background-color: #ecedf2;
}

.job-section.style-two .default-dots .owl-dots {
  margin-top: 20px;
}
